In [1]:
import pandas as pd 
import numpy as np

In [4]:
# https://www.ons.gov.uk/datasets/TS022/editions/2021/versions/2/filter-outputs/70fed879-1b7b-472d-8c46-98d33b19b4d1#get-data
# https://www.ons.gov.uk/peoplepopulationandcommunity/culturalidentity/ethnicity/bulletins/ethnicgroupenglandandwales/census2021
df = pd.read_csv('TS022-2021-2-filtered-2024-07-17T19_58_55Z.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95328 entries, 0 to 95327
Data columns (total 5 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Lower tier local authorities Code              95328 non-null  object
 1   Lower tier local authorities                   95328 non-null  object
 2   Ethnic Group (detailed) (288 categories) Code  95328 non-null  int64
 3   Ethnic Group (detailed) (288 categories)       95328 non-null  object
 4   Observation                                    95328 non-null  int64
dtypes: int64(2), object(3)
memory usage: 3.6+ MB

In [14]:
# Rename long column names
df.rename(columns={'Ethnic Group (detailed) (288 categories) Code': 'Ethnic Group Code', 'Ethnic Group (detailed) (288 categories)': 'Ethnic Group'}, inplace=True)

In [16]:
# See values for ethnic group codes
df['Ethnic Group Code'].unique()
# There's a -8 in the table, maybe replace values in this column with non negative number?

array([ -8,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287])

In [20]:
# Create table for ethnic group code vs ethnic group
df.groupby('Ethnic Group Code')['Ethnic Group'].unique()
# We see here that -8 does not apply, this could dropped as it does not add to original discovery

Ethnic Group Code
-8                                       [Does not apply]
 1          [Asian, Asian British or Asian Welsh: Afghan]
 2      [Asian, Asian British or Asian Welsh: African ...
 3      [Asian, Asian British or Asian Welsh: African ...
 4      [Asian, Asian British or Asian Welsh: Anglo In...
                              ...
 283                        [Other ethnic group: Turkish]
 284                [Other ethnic group: Turkish Cypriot]
 285                     [Other ethnic group: Vietnamese]
 286                  [Other ethnic group: White African]
 287         [Other ethnic group: Any other ethnic group]
Name: Ethnic Group, Length: 288, dtype: object

In [23]:
# See how many rows have -8 as value to see if we can drop 
len(df[df['Ethnic Group Code'] == -8])
# only 331, we can drop

331

In [25]:
# See if there are duplicates in the data
len(df) - len(df.drop_duplicates(keep=False))
# None, we are good to go

0

In [27]:
# Exclude rows that have value -8
df_exclude_NA = df[df['Ethnic Group Code'] != -8]

In [36]:
index_values_non_applicable = df[df['Ethnic Group Code'] == -8]['Observation'].index.values

In [42]:
df_includes_black = df_exclude_NA[df_exclude_NA['Ethnic Group'].str.contains("Black")]
black_observations = df_includes_black['Observation'].sum()
percentage_of_partial_full_black =  black_observations / df_exclude_NA['Observation'].sum()
print(percentage_of_partial_full_black)

0.05408346535806416

In [ ]:
# Remove Ethnic Group into their own dataframe
# df_code_explained = df['Ethnic Group']
# df = df.drop(['Ethnic Group'], axis=1)