# Imputation techniques

## MICE

In [7]:
import json
# !pip install scikit-learn
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import pandas as pd

In [ ]:
imputer = IterativeImputer(random_state=10, max_iter=12) # default value for iteration 10

In [ ]:
df = pd.read_csv("/Users/anasthasia_manu/PycharmProjects/CS_Learning/.data/estimated-article-influence-scores-2015.csv")
df.describe(include="all")

In [8]:
file_full_features = "/Users/anasthasia_manu/Downloads/outputs_full_features-2.parquet"
json_categorical_mappings = "/Users/anasthasia_manu/Downloads/outputs_categorical_mappings-1.json"
output_parquet = pd.read_parquet(file_full_features)
with open(json_categorical_mappings, "r") as json_file:
    categorical_mappings = json.load(json_file)

In [10]:
output_parquet.columns
output_parquet.head()

,index,cogs,customer_id,margin,product_id,revenue,transaction_date,volume,product_level_3,geo_level_3,...,customer_volume_sum,customer_volume_mean,customer_volume_std,product_customer_id_count,product_customer_id_nunique,product_age,product_transaction_date_count,product_volume_sum,product_volume_mean,product_volume_std
0,0,486.963591,0,347.976486,Product ID 7,908.423387,2019-03-29,46.943272,Product group 2,2,...,5513.704805,51.052822,28.589359,119.0,10.0,720.0,119.0,5621.486399,47.239382,26.476475
1,120,434.324859,0,315.948482,Product ID 7,778.058382,2019-07-27,41.940123,Product group 2,3,...,5513.704805,51.052822,28.589359,119.0,10.0,720.0,119.0,5621.486399,47.239382,26.476475
2,226,636.969995,0,378.252232,Product ID 7,1078.162638,2019-08-30,61.855311,Product group 2,1,...,5513.704805,51.052822,28.589359,119.0,10.0,720.0,119.0,5621.486399,47.239382,26.476475
3,230,832.414568,0,344.582847,Product ID 7,1244.924285,2019-03-21,82.264877,Product group 2,0,...,5513.704805,51.052822,28.589359,119.0,10.0,720.0,119.0,5621.486399,47.239382,26.476475
4,325,1001.146065,0,653.138287,Product ID 7,1778.100393,2019-04-12,98.865132,Product group 2,1,...,5513.704805,51.052822,28.589359,119.0,10.0,720.0,119.0,5621.486399,47.239382,26.476475